* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  object-fit: cover;
}
body {
  width: 100%;
  scroll-behavior: smooth;
}
.wrap {
  width: 100%;
}
.inner {
  width: 90%;
  margin: 0px auto;
}
@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/***********************************************/
/*hamberger bars*/
.bars {
  width: 2em;
  height: 1em;
  cursor: pointer;
  position: fixed;
  right: 1.5%;
  top: 1.5%;
  z-index: 99;
}
.bars_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 99;
  transform: translateY(-1%);
}
.bar {
  width: 100%;
  height: 0.2em;
  position: absolute;
  background-color: #fff;
  text-shadow: 2px 2px 2px #111;
}
.bar:nth-of-type(1) {
  top: 0;
}
.bar:nth-of-type(2) {
  top: 50%;
}
.bar:nth-of-type(3) {
  top: 100%;
}
.bar.on {
  background-color: #fff !important;
}
/*side menu*/
.side_menu {
  width: calc(100% - 17px);
  height: 100vh;
  margin: 0px auto;
  background-color: #111;
  position: fixed;
  left: 100%;
  top: 0;
}
.side_inner {
  width: 100%;
  height: 100%;
  color: white;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}
.side_menu .menu {
  font-size: 4.79vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.side_menu .menu span {
  font-size: 1.56vw;
  margin-right: 0.68vw;
  margin-top: 0.52vw;
}
.side_menu .menu li {
  margin: 1.25vw;
  display: flex;
  cursor: pointer;
}
.side_menu .menu p:hover {
  text-decoration: line-through;
  text-decoration-thickness: 0.05em;
}
/****************visual****************************/
.splash {
  width: 100%;
  height: 100vh;
  background-color: #cd2f27;
  overflow: hidden;
}
.heading {
  width: 100%;
  height: 50%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.splash h1 {
  line-height: 0.68;
  margin: 0;
  white-space: nowrap;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-family: "Rammetto One", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.splash h1 span {
  display: none;
  opacity: 0;
  margin-bottom: 10px;
}
.splash h1 span.size-lg {
  font-size: 100px;
  line-height: 200px;
}
.splash h1 span.size-md {
  font-size: 110px;
  line-height: 120px;
  transition: 0.5s;
}
.splash h1 span.size-sm {
  font-size: 50px;
  line-height: 60px;
  transition: 0.5s;
}
.splash h1 .p_big {
  margin-top: 30px;
}
.splash h1 .p_big.on {
  transform: translateY(-50%) scale(1.2) !important;
  transition: 1.5s;
  transition-delay: 1.5s;
}
.gummy {
  opacity: 0;
  width: 100%;
  text-align: center;
  transform: translateY(250%);
}
.gummy img {
  width: 80%;
}
.gummy.on {
  opacity: 1;
  transform: translateY(40%);
  transition: 1.5s;
  transition-delay: 0.5s;
}
/**************container******************************/
.con_wrap_wrap {
  width: 100%;
  height: 250vh;
  max-height: 250vh;
  position: relative;
}
.con_wrap_wrap > .bg_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.con_wrap {
  position: static;
}
.con_wrap.sticky {
  position: sticky;
  top: 0;
}
.con1_wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
  overflow: hidden;
  padding-left: 50px;
}

/*background*/
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: none;
}
.starmix_bg {
  background-color: #1f4283;
}
.gold_bg {
  background-color: #f4a61c;
}
.cola_bg {
  background-color: #ef4222;
}
.worm_bg {
  background-color: #95c21f;
}
.fruity_bg {
  background-color: #9d006e;
}
.grapes_bg {
  background-color: #501586;
}
.bg.on {
  display: block;
  transition: 0.8s;
}
.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*text*/
.cs_wrap_wrap {
  width: calc(100% / 3);
  height: 400px;
}
.cs_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.text_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
}
.txt h3 {
  font-size: 77px;
  /* font-family: "Rammetto One", sans-serif; */
  font-family: "ErasITC-Bold", cursive;
  text-align: center;
}
.txt {
  width: 100%;
  height: 100%;
}
.txt p {
  white-space: nowrap;
  margin: 50px 0px;
  font-size: 15px;
  line-height: 25px;
}
.txt p:last-child {
  width: 120px;
  margin: 0px auto;
  border: 1px solid #fff;
  /* font-family: "Rammetto One", sans-serif; */
  font-family: "ErasITC-Bold", cursive;
  padding: 10px 20px;
  text-align: center;
}
/*pack*/
.pack_wrap {
  width: calc(100% / 3);
  height: 100%;
  overflow: hidden;
  transform-origin: center center;
  position: relative;
}
.pack {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  transform-origin: center center;
  text-align: center;
  z-index: 10;
  display: none;
}
.pack img {
  width: 100%;
}
.pack.on {
  display: block;
  transition: 0.8s;
}
/*sm_jelly*/
.sm_jelly_wrap {
  width: calc(100% / 3.3);
  height: 210px;
  max-height: 210px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  left: 1rem;
}
.sm_wrap {
  width: 200%;
  max-height: 210px;
  display: flex;
  gap: 40px;
  position: absolute;
  top: 0;
  left: 0;
}
.sm_jelly {
  width: 100%;
  max-width: 147px;
  max-height: 210px;
}
.sm_jelly img {
  width: 100%;
  max-width: 147px;
  max-height: 210px;
}
/*jelly*/
.jelly_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.jelly {
  width: 16%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.1) translate(-50%, -50%);
  transform-origin: center center;
  text-align: center;
  z-index: 9;
}
.jelly.on {
  left: 55%;
  top: 25%;
  transform: scale(1.3) translate(-50%, -50%);
  transform-origin: center center;
  transition: 1s;
}
.jelly img {
  width: 100%;
}

/*con2*/

/*cards*/
.card h2 {
  color: #fff;
  font-size: max(10vw);
  transform: translateY(0rem);
  font-family: "BMJUA";
}
.step_text {
  width: 90%;
  max-height: 400px;
  margin: 0px auto;
  letter-spacing: -0.1em;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5vw;
}
.step_text p {
  width: 550px;
  line-height: 2rem;
  color: #fff;
}
.step_img {
  width: min(420px);
}
.step_img img {
  width: 100%;
}
.step_img video {
  width: 100%;
}
#card2 .step_text {
  transform: translateY(-3rem);
}
#card3 .step_text {
  transform: translateY(-4rem);
}
#card4 .step_text {
  transform: translateY(-9rem);
}
.card.on h2 {
  font-size: max(5vw);
  transform: translateY(-1rem);
  transition: 0.3s;
}

/*con3*/
.con3 {
  width: 100%;
}
.con3_inner {
  width: 80%;
  margin: 80px auto;
}
.pd_flex_1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.pd_text {
  white-space: nowrap;
}
.con3_inner h2 {
  font-size: 4rem;
  margin: 3rem auto;
  font-family: "BMJUA";
}
.pd_text > p {
  line-height: 1.8rem;
}
.pd_flex_2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12rem;
  margin: 5rem auto;
}
.pro_img_wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: translateY(2rem);
  opacity: 0;
}
.pro_img_wrap.on {
  transform: translateY(0rem);
  opacity: 1;
  transition: 0.5s;
}
.piw_1 > img {
  width: 30%;
  transform: translateX(-19rem) translateY(-1rem) rotate(10deg);
  transition: 0.5s;
}
.piw_2 > img {
  width: 20%;
  transform: translateX(-19rem) translateY(-10rem) rotate(10deg);
  transition: 0.5s;
}
.pro_img {
  width: 380px;
  height: 480px;
  position: relative;
  border-radius: 5%;
  overflow: hidden;
  cursor: pointer;
  z-index: 9;
}
.p_1 {
  background: url("img/pro_1.png") no-repeat 70% 50% / cover;
  transform: translateX(13rem);
}
.p_2 {
  transform: translateX(8rem) translateY(-10rem);
  background: url("img/pro_2.png") no-repeat center / cover;
}
.p_3 {
  width: 550px;
  height: 360px;
  transform: translateY(6rem);
  background: url("img/pro_3.png") no-repeat center / cover;
}
.pro_img .title_button {
  width: 90%;
  position: absolute;
  top: 2rem;
  left: 1rem;
  z-index: 12;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.pro_button {
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 54, 54, 0.2);
  border-radius: 100%;
  position: relative;
  transform: rotate(45deg);
  cursor: pointer;
}
.pro_img:hover .pro_button {
  background-color: rgba(255, 54, 54, 1);
}
.p_1:hover ~ .p_1_img {
  transform: translateX(-20rem) translateY(-1rem) rotate(5deg);
}
.p_2:hover ~ .p_2_img {
  transform: translateX(-20rem) translateY(-10rem) rotate(5deg);
}
.pro_button.on {
  background-color: rgba(255, 54, 54, 1);
  transform: rotate(0deg);
  transition: 0.3s;
}
.pro_img .title_button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img_width {
  width: 100%;
}
.img_width img {
  width: 100%;
}
.pro_back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
/* .pro_back.on {
  opacity: 1;
  transition: 1s;
} */
.pro_back .pro_bg {
  width: 100%;
  height: 100%;
  background-color: #cd2f27;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.pro_back img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.pro_back_text {
  color: #fff;
  position: relative;
  z-index: 12;
  position: absolute;
  bottom: 2%;
  left: 1%;
  padding: 5%;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
/*con3 ë*/

/*con4*/
.con4 {
  width: 100%;
  margin: 80px auto;
  position: relative;
}
.slide_bg {
  width: 100%;
  height: 8rem;
  background-color: #cd2f27;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.sticker {
  width: 100%;
  padding: 0rem 5rem;
  transform: translateY(0rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticker_left {
  width: 70%;
  padding: 0rem 5rem;
  transform: translateY(0rem);
}
.sticker_left > img {
  width: 40%;
}
.sticker_left p {
  max-width: 515px;
  color: #fff;
  font-size: 1.2rem;
}
.sticker_right {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.sticker_right > img:nth-of-type(1) {
  width: 20%;
  object-fit: contain;
  transform: rotate(15deg);
}

.sticker_right > img:nth-of-type(2) {
  width: 23%;
}

/*con5*/
.con5 {
  width: 100%;
  height: 100vh;
  margin: 80px auto 0;
  background-color: #111;
}
.con5_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.con5_left {
  width: calc(100% / 3);
  height: 100%;
  background: url(img/con5_qna.webp) no-repeat center/ cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.con5_left h3 {
  font-size: 4rem;
  font-family: "BMJUA";
}
.con5_left p {
  font-size: 1.1rem;
  font-family: "BMJUA";
}
.con5_left a {
  padding: 1rem 1.5rem;
  color: #111;
  border: 1px solid #111;
  font-size: 1.1rem;
  font-family: "BMJUA";
}
.con5_right {
  width: calc(100% - calc(100% / 3));
  height: 100%;
  display: flex;
  justify-content: center;
}
.con5_right img {
  width: 100%;
}
.con5_down:nth-of-type(1) {
  transform: translateY(-3rem);
}
.con5_down:last-child {
  transform: translateY(-5rem);
}
.con5_down {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}
.con5_up {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}
.up_wrap_wrap {
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
}
.down_wrap_wrap {
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0%;
  left: 0;
  transform: translateY(-100%);
}
.up_wrap {
  width: 100%;
}
.down_wrap {
  width: 100%;
}

/*footer*/
.footer {
  width: 100%;
  height: 40vh;
  background-color: #cd2f27;
}
.footer_inner {
  width: 100%;
  height: 100%;
  background: url(img/footer_bg.png) no-repeat center / 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.f_text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 1rem;
}
.f_logo {
  width: 100%;
}
.f_logo a img {
  width: 100%;
}
.f_second ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.1rem;
}
.f_third .sns {
  width: 100px;
  height: 100px;
  display: inline-block;
  -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' preserveAspectRatio='none'%3E%3Cpath d='M27.676 49.908c13.583-1.131 21.822-8.31 22.311-26.93C50.477 4.358 36.693-.987 23.11.144 9.527 1.274-1.16 14.174.101 27.915c1.26 13.742 13.992 23.124 27.575 21.993z'/%3E%3C/svg%3E");
  mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' preserveAspectRatio='none'%3E%3Cpath d='M27.676 49.908c13.583-1.131 21.822-8.31 22.311-26.93C50.477 4.358 36.693-.987 23.11.144 9.527 1.274-1.16 14.174.101 27.915c1.26 13.742 13.992 23.124 27.575 21.993z'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #940d06;
  mask-size: 80% 80%;
  mask-origin: center;
  -webkit-mask-position: center;
  mask-position: center;
  transform-origin: center;
}
.f_third .sns:hover {
  mask-size: 100% 100%;
  transition: 0.5s;
}
.f_third .sns svg {
  width: 100%;
  height: 100%;
  padding: 26%;
  fill: #fff;
  stroke: transparent;
}
.cs {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 3rem;
  font-size: 1.1rem;
}
.cs p a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}
.cs p:hover > a {
  text-decoration: underline;
}
.copyright {
  width: 100%;
}
.copyright p {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #111;
  font-size: 1.2rem;
}
@media (max-width: 1620px) and (min-width: 1025px) {
  .side_menu {
    width: 100%;
  }
  .splash h1 span.size-lg {
    font-size: 80px;
    line-height: 150px;
  }
  .splash h1 span.size-md {
    font-size: 60px;
    line-height: 110px;
    transition: 0.5s;
  }
  .splash h1 span.size-sm {
    font-size: 50px;
    line-height: 60px;
    transition: 0.5s;
  }
  .text_wrap {
    width: 100%;
    height: 30rem;
  }
  .txt h3 {
    font-size: 68px;
    /* font-family: "Rammetto One", sans-serif; */
    font-family: "ErasITC-Bold", cursive;
  }
}
